[data-theme="light"] {
  --color-bg: #f8f9fa;
  --color-fg: #343a40;
}

[data-theme="dark"] {
  --color-bg: #343a40;
  --color-fg: #f8f9fa;
}

body {
	background-color: var(--color-bg);
	color: var(--color-fg);
}