@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url(header.css);
@import url(footer.css);
@import url(colors.css);
@import url(cards.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all ease-in-out 0.2s;
  font-family: 'Fira Code', monospace;
  width: min(90%, 50rem);
  position: static;
  margin: 0 auto;
  min-height: 100vh;
  border-color: var(--color-fg);
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero-container {
  width: 100%;
  min-height: calc(100vh / 1.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  padding: 1rem;
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center ;
  flex-direction: row;
}

.bottom-spacing {
  margin-bottom: 2rem;
}

.name {
  width: 50%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

.info {
  width: 50%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

.arrow {
  font-size: 9rem;
  width: 100%;
  min-height: 20rem;
  text-align: center;
}

.date {
  display: block;
  font-size: 0.8rem;
  font-weight: 200;
  border-bottom: 1px solid;
  margin-bottom: 1.8rem;
}

.post {
  padding: 2rem 0.5rem;
  line-height: 1.6;
  font-weight: 400;
}